<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

<%= f.input :email, :input_html => {:maxlength =>50,:style=> 'width: 250px'}%>


  <div class="field">
    <%= f.input :password, :input_html => {:maxlength =>50,:style=> 'width: 250px'}%>
    <%= f.input :password_confirmation, :input_html => {:maxlength =>50,:style=> 'width: 250px'}%>
  </div>

  <div class="form-actions">
    <%= f.submit "Sign up", class: "btn btn-primary btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
